<div class="container">
  <div class="not-found">
    <p class="not-found__code">404</p>
    <h1 class="not-found__title">{{ 'general.404.title' | t }}</h1>
    <p class="not-found__body">{{ 'general.404.body' | t }}</p>
    <a class="btn btn--primary" href="{{ routes.root_url }}" style="margin-top:1rem;">
      {{ 'general.404.back_home' | t }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "404",
  "tag": "div",
  "class": "not-found-wrapper"
}
{% endschema %}
